<html>
	<head>
	
	<title>To Do</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<style>
	.link:hover { color:#4c5860; }
	</style>
	</head>
	
	<body id="header" >
	<div class="container-fluid" style="margin-bottom: 6px !important;background-color:grey;  background-repeat: no-repeat; background-attachment: fixed;background-size: cover;">
	<nav class="navbar ">
	  <div class="container">
		<div class="collapse navbar-collapse" id="myNavbar">
		  <ul id="headerlist" class="nav navbar-nav navbar-right" style=" margin-right: -200px !important;">
			<li><a class="link" style ="font-size: 20px;color:white;" href="create-task.html">Create Task</a></li>
			<li><a  class="link" style ="font-size: 20px;color:white;"  href="update-task.html">Modify Task</a></li>
			<li><a   class="link"  style ="font-size: 20px;color:white;" href="completed-task.html">Completed Task</a></li>
			<li><a  class="link"  style ="font-size: 20px;color:white;" href="index.html">Log Out</a></li>
		  </ul>
		</div>
	  </div>
	</nav> 
	
	
	</div>
	</body>
</html>